* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "LeagueGothicRegular";
    src: url(../fonts/LeagueGothicRegular/LeagueGothicRegular.eot);
    src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/LeagueGothicRegular/LeagueGothicRegular.woff") format("woff"), url("../fonts/LeagueGothicRegular/LeagueGothicRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSansLight/OpenSansLight.eot");
    src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.header {
    background: url(../img/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 845px;
    width: 100%;
}

.logo {
    padding-top: 70px;
    position: absolute;
}

.main_menu {
    margin-right: -5px;
    padding-top: 72px;
    float: right;
    letter-spacing: -.4px;
}

.main_menu li {
    display: inline-block;
}

.main_menu a {
    text-decoration: none;
    text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
    color: white;
    font-family: "LeagueGothicRegular";
    font-size: 24px;
    text-transform: uppercase;
    margin-left: 37px;
    padding: 0 7px 6px;
}

.main_menu a:hover {
    border-bottom: solid 2px #edbfff;
}

.header_center_block {
    width: 100%;
    height: 400px;
    background: rgba(0, 0, 0, .2);
    position: absolute;
    top: 278px;
}

.main_article {
    margin-top: 99px;
    display: inline-block;
}

.main_article h1 {
    color: #fefefe;
    font-family: "LeagueGothicRegular";
    font-size: 60px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.8px;
}

.main_article h2 {
    color: #edbfff;
    font-family: "LeagueGothicRegular";
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -.2px;
    padding-top: 10px;
}

.main_article p {
    width: 500px;
    color: white;
    font-family: "MyriadProRegular";
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
}

.main_slider {
    display: inline-block;
    margin-top: -18px;
    margin-left: 112px;
    vertical-align: top;
    position: relative;
}

.slider_navigation {
    position: absolute;
    right: 316px;
    top: 772px;
}

.slider_navigation a {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 2px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .3);
}

.company_info {
    position: relative;
    right: 0;
    width: 100%;
    height: 342px;
    background-image: linear-gradient(to top, #322539 0%, #745083 100%);
    border-top: 1px solid #33253a;
    border-bottom: 1px solid #1d2f37;
}

.company_info h4 {
    font-family: "LeagueGothicRegular";
    text-shadow: 0.5px 0.9px 0 #0f1518;
    color: white;
    font-size: 30px;
    font-weight: 400;
}

.company_info p {
    text-shadow: 0.5px 0.9px 0 #0f1518;
    color: white;
    font-family: "OpenSansLight";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 11px;
}

.first_column,
.second_column,
.third_column {
    margin-top: 80px;
    margin-left: 114px;
    float: right;
    width: 223px;
    position: relative;
}

.third_column {
    margin-left: 0;
}

.first_column:before {
    content: "";
    background: url(../img/sprite.png) no-repeat -67px 0;
    width: 29px;
    height: 31px;
    position: absolute;
    top: 3px;
    left: -52px;
}

.second_column:before {
    content: "";
    background: url(../img/sprite.png) no-repeat -32px -2px;
    width: 33px;
    height: 29px;
    position: absolute;
    top: 5px;
    left: -53px;
}

.third_column:before {
    content: "";
    background: url(../img/sprite.png) no-repeat 0 -2px;
    width: 30px;
    height: 31px;
    position: absolute;
    top: 3px;
    left: -53px;
}

.company_info a {
    text-decoration: none;
    margin-top: 6px;
    float: right;
    text-shadow: 0.5px 0.9px 0 #0f1518;
    color: #fff;
    font-family: "LeagueGothicRegular";
    font-size: 18px;
    letter-spacing: -.3px;
    transition: .25s;
}

.company_info a:hover {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    margin-right: 5px;
}

.updates {
    width: 100%;
    height: 485px;
    background-color: #f9f9f9;
    border-top: 1px solid #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.07);
}

.comments_slider {
    float: left;
}

.comments_slider_content {
    width: 430px;
    display: inline-block;
    background: #fff;
    margin-top: 99px;
    margin-left: 24px;
    padding: 25px 39px 34px 37px;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #efefef;
}

.comments_slider_content img {
    position: absolute;
    left: -25px;
    top: 16px;
}

.comments_slider_content h5,
.comments_slider_content h6 {
    display: inline;
    text-shadow: 0.5px 0.9px 0 white;
    font-family: "LeagueGothicRegular";
    font-size: 30px;
    color: #454545;
    letter-spacing: -1px;
}

.comments_slider_content h6 {
    color: #edbfff;
}

.comments_slider_content p {
    text-shadow: 0.5px 0.9px 0 white;
    color: #454545;
    font-family: "OpenSansLight";
    font-size: 16px;
    line-height: 24px;
    margin-top: 7px;
}

.comments_slider_content:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 20px 0;
    border-color: transparent #fff transparent transparent;
    position: absolute;
    bottom: -20px;
    right: 40px;
}

.slider_navigation_updates {
    position: static;
    margin-top: 23px;
    margin-left: 193px;
}

.slider_navigation_updates a {
    border: 1px solid #efefef;
    background: #fff;
}

.recent_comments {
    float: left;
    margin-top: 125px;
    margin-left: 55px;
}

.recent_comments h5 {
    text-shadow: 0.5px 0.9px 0 white;
    color: #454545;
    font-family: "LeagueGothicRegular";
    font-size: 30px;
}

.first_update,
.second_update,
.third_update {
    display: block;
    text-decoration: none;
    margin-top: 19px;
    margin-left: 67px;
    position: relative;
}

.first_update img,
.second_update img,
.third_update img {
    position: absolute;
    top: -2px;
    left: -65px;
}

.first_update h6 {
    font-weight: bold;
    letter-spacing: .2px;
}

.first_update p,
.first_update h6,
.second_update p,
.second_update h6,
.third_update p,
.third_update h6 {
    color: #454545;
    font-family: "OpenSansLight";
    font-size: 16px;
    line-height: 24px;
}

.recent_comments_read-more {
    display: block;
    text-decoration: none;
    color: #454545;
    font-family: "LeagueGothicRegular";
    font-size: 18px;
    margin-top: 25px;
    margin-left: 345px;
}

.partners_wrapper {
    height: 120px;
    background: #f9f9f9;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #d8d8d8;
}

.partners {
    list-style: none;
    position: relative;
}

.p1 {
    background: url(../img/logo_sprite.png) no-repeat -3px -3px;
    width: 69px;
    height: 64px;
    position: absolute;
    top: 24px;
    left: 94px;
}

.p1:hover {
    background: url(../img/logo_sprite.png) no-repeat -3px -79px;
    width: 69px;
    height: 64px;
}

.p2 {
    background: url(../img/logo_sprite.png) no-repeat -80px -3px;
    width: 72px;
    height: 64px;
    position: absolute;
    top: 24px;
    left: 228px;
}

.p2:hover {
    background: url(../img/logo_sprite.png) no-repeat -80px -79px;
    width: 72px;
    height: 64px;
}

.p3 {
    background: url(../img/logo_sprite.png) no-repeat -161px -2px;
    width: 65px;
    height: 65px;
    position: absolute;
    top: 24px;
    left: 364px;
}

.p3:hover {
    background: url(../img/logo_sprite.png) no-repeat -161px -78px;
    width: 65px;
    height: 65px;
}

.p4 {
    background: url(../img/logo_sprite.png) no-repeat -238px -3px;
    width: 50px;
    height: 63px;
    position: absolute;
    top: 24px;
    left: 504px;
}

.p4:hover {
    background: url(../img/logo_sprite.png) no-repeat -238px -79px;
    width: 50px;
    height: 63px;
}

.p5 {
    background: url(../img/logo_sprite.png) no-repeat -302px -24px;
    width: 103px;
    height: 21px;
    position: absolute;
    top: 46px;
    left: 622px;
}

.p5:hover {
    background: url(../img/logo_sprite.png) no-repeat -302px -100px;
    width: 103px;
    height: 21px;
}

.p6 {
    background: url(../img/logo_sprite.png) no-repeat -413px -4px;
    width: 78px;
    height: 61px;
    position: absolute;
    top: 26px;
    left: 790px;
}

.p6:hover {
    background: url(../img/logo_sprite.png) no-repeat -413px -80px;
    width: 78px;
    height: 61px;
}

.down_article {
    height: 395px;
    background: #ececec;
}

.first_da,
.second_da,
.third_da {
    width: 278px;
    margin-top: 98px;
    display: inline-block;
    vertical-align: top;
    margin-right: 57px;
}

.third_da {
    margin-right: 0;
}

.first_da span {
    display: block;
    text-shadow: 0.5px 0.9px 0 white;
    color: #c5c5c5;
    font-family: "Georgia";
    font-size: 16px;
    font-style: italic;
    margin-top: 14px;
}

.first_da p,
.second_da p,
.third_da p {
    text-shadow: 0.5px 0.9px 0 white;
    color: #787878;
    font-family: "OpenSansLight";
    font-size: 16px;
    line-height: 24px;
    margin-top: 10px;
}

.second_da p,
.third_da p {
    margin-top: 5px;
}

.first_da h5,
.second_da h5,
.third_da h5 {
    text-shadow: 0.5px 0.9px 0 white;
    color: #454545;
    font-family: "LeagueGothicRegular";
    font-size: 30px;
}

.first_da h5 {
    display: none;
}

.footer {
    height: 114px;
    background: url(../img/bg_footer.jpg) no-repeat center;
}

.footer_menu {
    margin-right: 0;
    float: none;
    padding-top: 45px;
}

.footer_menu a {
    margin-left: 0;
    margin-right: 43px;
    font-size: 20px;
    padding: 0;
}

.footer p {
    float: right;
    text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
    color: white;
    font-family: "OpenSansLight";
    font-size: 12px;
    margin-top: -17px;
}

.footer span {
    font-weight: bold;
}

@media screen and (min-device-width: 768px) and (max-device-width: 959px) {
    .container {
        width: 728px;
    }
    .header {
        height: 798px;
    }
    .main_menu {
        /*! padding-top: 0; */
        float: none;
        margin-left: -5px;
    }
    .main_menu a {
        margin-right: 36px;
        margin-left: 7px;
    }
    .header_center_block {
        top: 245px;
    }
    .main_article {
        width: 270px;
        margin-top: 104px;
        margin-left: 25px;
    }
    .main_slider {
        margin-left: 129px;
        margin-top: -24px;
    }
    .main_article h1 {
        font-size: 48px;
    }
    .main_article h2 {
        font-size: 24px;
        padding-top: 7px;
        height: 35px;
        overflow: hidden;
    }
    .main_article p {
        font-size: 16px;
        line-height: 26px;
        width: 320px;
        height: 100px;
        overflow: hidden;
    }
    .slider_navigation {
        top: 437px;
        right: 141px;
    }
    .first_column,
    .second_column,
    .third_column {
        width: 155px;
        margin-top: 75px;
        margin-left: 100px;
    }
    .third_column {
        margin-left: 0;
    }
    .first_column p,
    .second_column p,
    .third_column p {
        width: 155px;
        height: 145px;
        overflow: hidden;
        font-size: 16px;
        line-height: 24px;
        margin-top: 0;
    }
    .company_info h4 {
        font-size: 24px;
    }
    .company_info a {
        margin-top: 6px;
    }
    .first_column:before,
    .second_column:before {
        content: "";
        background: url(../img/sprite.png) no-repeat 0 -2px;
        width: 30px;
        height: 31px;
        position: absolute;
        top: 3px;
        left: -52px;
    }
    .comments_slider_content {
        width: 315px;
        height: 275px;
    }
    .comments_slider_content h5,
    .comments_slider_content h6 {
        display: block;
        font-size: 24px;
        line-height: 24px;
    }
    .comments_slider_content p {
        width: 265px;
        height: 148px;
        overflow: hidden;
    }
    .comments_slider_content:before {
        content: "";
        border-width: 0;
    }
    .slider_navigation_updates {
        margin-top: 20px;
        margin-left: 137px;
    }
    .recent_comments {
        float: right;
        margin-right: 10px;
    }
    .first_update p,
    .second_update p,
    .third_update p {
        width: 255px;
        height: 20px;
        overflow: hidden;
    }
    .recent_comments_read-more {
        margin-left: 235px;
    }
    .p1 {
        left: 3px;
    }
    .p2 {
        left: 127px;
    }
    .p3 {
        left: 254px;
    }
    .p4 {
        left: 383px;
    }
    .p5 {
        left: 491px;
    }
    .p6 {
        left: 650px;
    }
    .first_da img,
    .first_da span {
        display: none;
    }
    .first_da h5 {
        display: block;
    }
    .first_da,
    .second_da,
    .third_da {
        width: 204px;
        height: 205px;
        margin-left: 54px;
        margin-right: 0;
        overflow: hidden;
    }
    .first_da {
        margin-left: 0;
    }
    .first_da h5,
    .second_da h5,
    .third_da h5 {
        font-size: 24px;
    }
}

@media screen and (min-device-width: 480px) and (max-device-width: 768px) {
    .container {
        width: 480px;
    }
    .header {
        height: 548px;
    }
    .logo {
        position: static;
        text-align: center;
    }
    .main_menu {
        width: 245px;
        position: absolute;
        top: 144px;
        left: 0;
        right: 0;
        margin: auto;
        float: none;
        z-index: 10;
        height: 20px;
        overflow: hidden;
        padding-top: 0;
    }
    .main_menu:hover {
        height: 100%;
    }
    .main_menu li {
        list-style: none;
        text-align: center;
        display: block;
    }
    .main_menu li a {
        margin-left: 0;
    }
    .header_center_block {
        height: 245px;
        top: 203px;
    }
    .main_article {
        margin-top: 94px;
        margin-left: 40px;
    }
    .main_article h1 {
        font-size: 36px;
    }
    .main_article h2 {
        font-size: 18px;
        line-height: 20px;
        width: 210px;
        height: 20px;
        padding: 0;
        overflow: hidden;
    }
    .main_article p {
        display: none;
    }
    .main_slider {
        margin-top: -9px;
        margin-left: 3px;
    }
    .main_slider img {
        width: 192px;
        height: 304px;
    }
    .slider_navigation {
        right: 192px;
        top: 268px;
    }
    .company_info {
        height: 600px;
    }
    .first_column,
    .second_column,
    .third_column {
        float: none;
        width: 380px;
        margin-top: 75px;
        margin-left: 83px;
    }
    .second_column,
    .third_column {
        margin-top: 58px;
    }
    .first_column h4,
    .second_column h4,
    .third_column h4 {
        font-size: 24px;
    }
    .company_info p {
        margin-top: 0;
    }
    .company_info a {
        margin-top: 15px;
        margin-right: 10px;
    }
    .first_column:before,
    .second_column:before {
        content: "";
        background: url(../img/sprite.png) no-repeat 0 -2px;
        width: 30px;
        height: 31px;
        position: absolute;
        top: 3px;
        left: -52px;
    }
    .updates {
        height: 782px;
    }
    .comments_slider_content {
        margin-top: 65px;
        margin-left: 44px;
    }
    .comments_slider_content:before {
        content: "";
        border-width: 0;
    }
    .recent_comments {
        margin-top: 43px;
        margin-left: 84px;
    }
    .first_update p,
    .second_update p,
    .third_update p {
        width: 255px;
        height: 20px;
        overflow: hidden;
    }
    .recent_comments_read-more {
        margin-left: 250px;
    }
    .p1 {
        top: 37px;
        left: 83px;
    }
    .p2 {
        top: 37px;
        left: 207px;
    }
    .p3 {
        top: 37px;
        left: 333px;
    }
    .p4 {
        top: 127px;
        left: 69px;
    }
    .p5 {
        top: 149px;
        left: 176px;
    }
    .p6 {
        top: 128px;
        left: 335px;
    }
    .partners_wrapper {
        height: 232px;
    }
    .first_da img,
    .first_da span {
        display: none;
    }
    .first_da h5 {
        display: block;
    }
    .down_article {
        height: 670px;
    }
    .first_da,
    .second_da,
    .third_da {
        width: auto;
        margin-top: 50px;
        margin-left: 17px;
        margin-right: 0;
        padding-right: 20px;
    }
    .first_da {
        margin-top: 77px;
    }
    .first_da h5,
    .second_da h5,
    .third_da h5 {
        font-size: 24px;
    }
    .first_da p,
    .second_da p,
    .third_da p {
        height: 100px;
        overflow: hidden;
    }
    .footer_menu {
        width: auto;
        display: block;
        position: static;
        overflow: visible;
        margin-left: 22px;
        padding-top: 43px;
    }
    .footer_menu li {
        display: inline-block;
    }
    .footer_menu a {
        margin-right: 24px;
    }
    .footer p {
        float: none;
        text-align: center;
        padding-top: 52px;
    }
}